.carousel {
  width: 100%;
  position: relative;
  .next {
    position: absolute;
    top: 50%;
    right: 0px;
  }
  .previous {
    position: absolute;
    top: 50%;
    left: 0px;
  }
  .carousel-item {
    margin: 20px auto;
    position: absolute;
    flex-direction: column;
    left: 250px;
    padding: 50px;
    width: 80%;
    background: white;
    box-shadow: 5px 5px 7px gray;
    border-radius: 7px;
    // border: 2px solid black;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    z-index: 100;

    h1 {
      width: 100%;
      //   border: 2px solid black;
      text-align: center;
    }
    .carousel-item-content {
      display: flex;
      justify-content: space-evenly;
      //   border: 2px solid black;
      width: 100%;
    }
  }
  .carousel-item.after {
    // left: -250px;
    transition: 2s linear;
  }
  .carousel-item.active {
    position: relative;
    display: flex;
    left: 0px;
    opacity: 1;
    transition: 1s linear;
    z-index: 900;
  }

  button {
    background: gray;
    border: none;
    z-index: 910;
    height: 30px;
    width: 35px;
    cursor: pointer;
  }
  button:hover {
    transition: 0.5s linear;
    background: black;
  }
  .next {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  .previous {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}
