.specification {
  position: relative;
  margin: 25px;
  min-height: fit-content;
  // border: 2px solid black;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  .back-to-shopping {
    position: absolute;
    left: 10px;
    top: 150px;
    cursor: pointer;
  }
  .back-to-shopping:hover {
    transform: scale(1.2);
    transition: 5ms;
  }
  .title-spec {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .product-spec {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 40px;
    min-height: fit-content;
    // box-shadow: 10px 10px 25px gray;
    .picture-spec {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      // border: 2px solid black;
    }
    .detail-spec {
      // border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: max-content;
      .send {
        font-size: 2em;
        text-align: center;
        z-index: 1;
        text-shadow: 1px 1px 2px black;
      }
      .sending-inquiry {
        // border: 2px solid black;
        display: flex;
        width: 300px;
        flex-direction: column;
        input {
          margin: 5px;
          border: none;
          box-shadow: 2px 2px 5px black;

          border-radius: 5px;
          padding: 5px;
        }
        textarea {
          height: 100px;
          margin: 5px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 2px 5px black;
          padding: 5px;
        }
        button {
          background-color: blue;
          border: none;
          border-radius: 5px;
          color: white;
          box-shadow: 2px 2px 5px black;
          padding: 5px;
        }
        button:active {
          box-shadow: none;
        }
      }
      a {
        background: rgba(2, 0, 251, 0.7);
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .specification {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .back-to-shopping {
      position: absolute;
      left: 20px;
      top: 0px;
      // top: 130px;
    }
    .product-spec {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: auto;
      // box-shadow: 10px 10px 25px gray;
      .picture-spec {
        display: flex;
        width: 60%;
        justify-content: flex-end;
        //   border: 2px solid black;
      }
      .detail-spec {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: max-content;
        border-radius: 5px;

        table {
          margin: 50px 0px;
          // border: 2px solid black;
          th,
          td {
            width: 250px;
            // border: 2px solid black;
          }
        }

        a {
          background: rgba(2, 0, 251, 0.7);
          text-decoration: none;
          color: white;
          padding: 10px;
          margin: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
