@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  font-family: "Quicksand";
}

h6 {
  font-family: "Dancing Script";
  font-size: 72px;
}

h1 {
  font-family: "Quicksand";
}

$background-header-footer: linear-gradient(
  to right,
  #9c4063,
  #73324a,
  #4d2432,
  #29161c,
  #000000
);
